<body>
    <div class="container">
        <div class="col-12 col-sm-9 col-md-9 col-lg-9 my-2"></div>
        <div class="col-12 col-sm-3 col-md-3 col-lg-3 my-2"><a class="upperLink" href="/logout/">Cerrar Sesión</a></div>
        <div class="row">
            <div class="col-md-10">
                <h1>Bienvenido, {{request.session.user.name}} a la tienda!</h1>
                {% if messages %}
                <div class="row">
                    <div class="col-md-12 alert alert-info">
                        <ul class="messages">
                            {% for message in messages %}
                                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}
                <p>Haga click a continuacion para ir a la tienda: <a href="#">Tienda</a></div></p>
            </div>
        </div>
    </div>
</body>
</html>