<body>
    <div class="container">
        <a class="upperLink" href="/logout/">Log Out</a>
        <div class="row">
            <div class="col-md-10">
                <h1>Success! Welcome, {{request.session.user.name}}!</h1>
                {% if messages %}
                <div class="row">
                    <div class="col-md-12 alert alert-info">
                        <ul class="messages">
                            {% for message in messages %}
                                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% if request.session.dias_restantes_para_cumple_del_usuario %}
                                <li>Happy Birthday {{request.session.nombre_usuario}}!!</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}
                <p>Click here to go to the dashboard of the Quotable Quotes app: <a href="{% url 'quotes_app:dashboard' %}">Dashboard</a></div></p>
            </div>
        </div>
    </div>
</body>
</html>