{% extends 'master/base.html' %}
{% load static %}

{% block titulo %} Agregar Productos {% endblock %}
{% block add_productos %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <span><img src="" alt=""><a class="navbar-brand active" href="administrador:ordenes">Dashboard</a></span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="d-flex nav-item">
          <a class="nav-link" href="{% url 'administrador:ordenes' %}">Orden</a>
        </li>
        <li class="d-flex nav-item">
          <a class="nav-link" href="{% url 'productos:index' %}">Productos</a>
        </li>
      </ul>
      <a class="d-flex nav-link link-light" href="/usuarios/logout/">Cerrar Sesión</a>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <h4>Agregar un nuevo producto</h4>
    <br><br>
    <form action="{% url 'productos:add_prod' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <label for='addname'>Nombre</label>
        <input type="text" name='nombre' class="form-control" id="addname" placeholder="name">
      </div>
      <div class="form-group">
        <label for='adddesc'>Descripción</label>
        <textarea name='descripcion' id='adddesc' class='form-control' rows='3' placeholder='description'></textarea>
      </div>
      {% if productos.categoria %}
      <div class="form-group">
        <label for='addcat'>Categorías</label>
        <select name='categoria' id='addcat' class='form-control' rows='3'>
          {% for producto in productos %}
          <option value='{{producto.categoria}}'>{{producto.categoria}}</option>
          {% endfor %}
        </select>
      </div>
      {% endif %}
      <div class="form-group">
        <label for='addnewcat'>Agregar nueva categoría</label>
        <input type='text' name='categoria' id='addnewcat' placeholder='new category' class='form-control'>
      </div>
      <div class="form-group">
        <label for="addprice">Precio</label>
        <input type="text" name="precio" id="addprice" class="form-control" rows="3">
      </div>
      <br><br>
      <div class="form-group">
        <label for='newimg'>Subir imagen</label>
        <input type="file" name='imagen' id="newimg">
      </div>
      <br>
      <a href="{% url 'productos:index' %}" class="btn btn-danger form-inline">Cancelar</a>
      <button class='btn btn-primary' type='submit'>Agregar</button>
    </form>
  </div>
</div>
{% endblock %}