{% extends 'master/base.html' %}
{% load static %}

{% block titulo %} Página de Acceso de administradores {% endblock %}
{% block contenido %}
<div class="container">
  <div class="col-12 col-sm-6 my-5 jumbotron">
    <h4>Iniciar Sesión</h4>
    <br><br>
    {% if messages %}
    <div class="row">
        <div class="col-12 alert alert-info">
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
    <form id="form2" action="{% url 'administrador:login' %}" method="POST">
      {% csrf_token %}
      <div class="form-group row">
        <label for="email-id2" class="col-sm-4 col-form-label">Email:</label>
        <div class="col-12 col-sm-6">
          <input id="email-id2" placeholder="Enter Email" name="email" class="form-control inp-style" type="text" required>
        </div>
      </div>
      <br>
      <div class="form-group row">
        <label for="password-id2" class="col-sm-4 col-form-label">Password:</label>
        <div class="col-12 col-sm-6">
          <input id="password-id2" placeholder="Enter Password" name="password" class="form-control inp-style" type="password" required>
        </div>
      </div>
      <br>
      <button type="submit" name="logAdmin" value="login" class="center-btn btn btn-primary">Acceder</button>
    </form>
  </div>
</div>
{% endblock %}