{% extends 'master/base.html' %}
{% load static %}
{% block titulo %} Página de la tienda {% endblock %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="jumbotron col-2"  style="border: 1px solid grey; background-color: black;">
        <br>
        <h3>Categorías</h3>
        <br>
        <div class="sidenav">
          {% for a in cantidadProdCat %}
          {% if a.categoria %}                    
          <a href="#"><b>{{a.categoria}}({{a.cantidadProd}})</b></a>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="jumbotron col-10"  style="border: 1px solid grey;">
        <h1 style="color: crimson;">Regístrate y obtén un {{descuento}} en tu primera compra </h1>
        <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
          <div class="agile_top_brand_left_grid1">
            <div class="row">
              {% for x in precioPromo %}
                <div class="col-sm">
                  <div class="card" style="width: 18rem;">
                    <a href="{% url 'tienda:show_prod' x.id %}"><img src="{{ x.imagen.url }}" class="card-img-top" alt="{{ x.nombre }}" style="padding:5px;height:225px;"></a>
                    <div class="card-body">
                      <h5 class="card-title">{{ x.nombre }}</h5>
                      <p class="card-text">{{ x.descripcion }}</p>
                      <h4>${{x.precio}} <span>${{x.precio_original}}</span></h4>
                      <form action="{% url 'tienda:agregar_a_carrito' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="cantidad" value="1">
                        <input type="hidden" name="producto_id" value="{{x.id}}">{{x.price}}</td>
                        <!-- <a href="{% url 'tienda:show_prod' x.id %}" class="btn btn-primary" value="{{x}}" onclick="saveItem({{x}})">Agregar al Carrito</a> -->
                        <button type="submit" class="btn btn-primary">Agregar al Carrito</button>
                      </form>
                    </div>
                  </div>
                  <br>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
