{% extends 'master/admin_navbar.html' %}
{% load static %}

{% block extrastyles %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
{% endblock %}
{% block extrascripts %}
<script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
{% endblock %}

{% block titulo %} Administración de Productos {% endblock %}
{% block admin_productos %}
  <div class="row">
    <h1>Hola {{user}}:</h1>
    <!-- <h2>aquí se va poder buscar productos por nombre de cliente, id, fecha, etc.</h2> -->
    <br>
    <div class="col-4">
      <!-- <form action="#" method="POST" class="d-flex">
        {% csrf_token %}
        <input class="form-control me-2" name="cliente" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form> -->
    </div>
    <div class="col-6"></div>
    <div class="col-2"><a href="{% url 'productos:admin_productos' %}" class="btn btn-primary btn-border">Agregar Producto</a></div>
    <!-- <div class="col-2"><a href="#" data-toggle='modal' data-target='#add-modal' class="btn btn-primary btn-border">Agregar Producto</a></div> -->
    <br>
    <div class="row">
      <table id="productTable" class="table table-hover table-ligth table-striped table-bordered">
        <thead class="thead-dark table-dark">
          <tr>
            <th scope='col'>Imagen</th>
            <th scope='col'>ID</th>
            <th scope='col'>Nombre</th>
            <th scope='col'>Cantidad en el Inventario</th>
            <th scope='col'>Cantidad Vendidos</th>
            <th scope='col'>Acción</th>
          </tr>
        </thead>
        <tbody>
          {% for producto in todosLosProductos %}
          <tr>
            {% if producto.imagen %}                    
            <td><img class='admin_img' src="{{producto.imagen.url}}" alt='{{producto.nombre}}'></td>
            {% else %}
            <td><img class='admin_img' src="/media/apple.png" alt='Imagen predetermninada'></td>
            {% endif %}
            <td><a href="{% url 'productos:info_prod' producto.id %}"><b>{{producto.id}}</b></a></td>
            <td>{{producto.nombre}}</td>
            <td>{{producto.inventario}}</td>
            <td>{{producto.cantidad_vendida}}</td>
            <td>
              <a href="{% url 'productos:delete_prod' producto.id %}" class="btn btn-danger">Eliminar</a>
              <a href="{% url 'productos:edit_prod' producto.id  %}" class="btn btn-primary">Editar</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- <br>
    <div class='pagination'>
      <p class="page-pointer">{{todosLosProductos}}</p>
      {% if todosLosProductos.has_previous %}
      <a href="{% url 'productos:dashboard' todosLosProductos.previous_page_number %}">&laquo;Previous Page</a>
      {% endif %}
      {% if todosLosProductos.has_next %}
      <a href="{% url 'productos:dashboard' todosLosProductos.next_page_number %}">Next Page&raquo;</a>
      {% endif %}
    </div>
    <br> -->
  </div>
</div>
{% endblock %}