<div class="topnav container" id="topnav_bar">
    <a href="#home" class="active">Inicio</a>
    <a href="#productos">Productos</a>
    <a href="#contacto">Contacto</a>
    <a href="javascript:void(0);" class="icon" onclick="mostar_topnav()">
        <i class="fa fa-bars"></i>
    </a>
    <span><i class="fa fa-shopping-cart carrito" aria-hidden="true"></i></span>
</div>

 <div class="sidenav">
    <a href="#">Item1</a>
    <a href="#">Item2</a>
    <a href="#">Item3</a>
    <a href="#">Item4</a>
</div>