{% extends 'master/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block titulo %} Página del Producto {% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12 my-2"><a href="{% url 'index' %}">Regresar</a></div>
  </div>
  <br><br>
  <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
    <div class="agile_top_brand_left_grid1">
      <div class="row">
        <div class="col-5 col-md">
          <div class="card" style="width: 25rem;">
            <img src="{{producto.imagen.url}}" class="card-img-top" alt="{{p.nombre}}">
            <div class="card-body">
              <h5 class="card-title">{{producto.nombre}}</h5>
              <h4>Precio: ${{producto.precio}}</h4>
            </div>
          </div>
        </div>
        <div class="col-7">
          <h4>Información del Producto: </h4>
          <br>
          <p>{{producto.descripcion}}</p>
          {% if producto.in_stock %}
          <form method="POST" action="{% url 'tienda:agregar_a_carrito' %}">
            {% csrf_token %}
            {{form.as_p}}
            {{producto}}
            <a href="#" class="btn btn-primary" value="{{p}}" onclick="saveItem({{p}});">Agregar al Carrito</a>
          </form>
          {% else %}
            <p>¡El producto no está en el inventario!</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% if productos_similares %}
  <br><br>
  <div class="row">
    <div class="col-12">
      <h4>Productos sugeridos: </h4>
      <br>
      <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
        <div class="agile_top_brand_left_grid1">
          <div class="row">
            <form method="POST" action="{% url 'tienda:agregar_a_carrito' %}">
            {% for prod in productos_similares %}
              <div class="col-sm">
                <div class="card" style="width: 18rem;">
                  <a href="{% url 'tienda:show_prod' prod.id %}"><img src="{{ prod.imagen.url }}" class="card-img-top" alt="{{ prod.nombre }}" style="padding:5px;width:125px;height:150px;"></a>
                  <div class="card-body">
                    <h5 class="card-title">{{ prod.nombre }}</h5>
                    <p class="card-text">{{ prod.descripcion }}</p>
                    <h4>${{prod.precio}}</h4>
                    {% csrf_token %}
                    {{form.as_p}}
                    <a href="#" class="btn btn-primary" value="{{producto}}" onclick="saveItem({{producto}})">Agregar al Carrito</a>
                  </div>
                </div>
                <br>
              </div>
            {% endfor %}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
