{% extends 'master/base.html' %}
{% load static %}
{% block titulo %} Registro de Usuarios {% endblock %}
{% block registro_usuarios %}
<div class="container">
    <div class="login-container text-c animated flipInX">
        <h2 class="text-center">Registro de Usuarios</h2>
        <br>
        {% if error %}
        <div class="error">
                <p>
                Usuario o contraseña incorrectos
                </p>
        </div>
        {% endif %}
        <div>
            <h1 class="logo-badge text-whitesmoke"><span class="fa fa-user-circle"></span></h1>
        </div>
        <div class="col-md-6 offset-md-3">
            <form method="POST" action="{% url 'usuarios:register' %}">
              {% csrf_token %}
                {% if form.errors %}
                  <div id="info" class="alert alert-warning" role="alert">
                    <button class="close btn-outline-light" data-dismiss="alert"><small><sup>x</sup></small></button>
                    {#<p>El Formulatio de Registro tiene Errores!</p>#}
                    {% for field in form %}
                      {% if field.errors %}
                        {{field.errors }}
                      {% endif %}
                    {% endfor %}
                  </div>
                {% endif %}
                {{ form.as_p }}
                <input type="submit" value="Registro" class="btn btn-secondary">
            </form>
          </div>
        </div>
</div>
{%endblock%}