{% extends 'master/base.html' %}
{% load static %}
{% block titulo %} Editar Perfil {% endblock %}
{% block editar_usuarios %}
<h2 class="text-center">Editar Perfil</h2>
<br>
<div class="col-md-6 offset-md-3">
  <form method="POST" action="{% url 'usuarios:edit_profile' %}">
    {% csrf_token %}
      {% if form.errors %}
        <div id="info" class="alert alert-warning" role="alert">
          <button class="close btn-outline-light" data-dismiss="alert"><small><sup>x</sup></small></button>
          {#<p>El Formulatio de Registro tiene Errores!</p>#}
          {% for field in form %}
            {% if field.errors %}
              {{field.errors }}
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
      {{ form.as_p }}
      <input type="submit" value="Editar Perfil" class="btn btn-secondary">
      <a class="btn btn-primary" href="{% url 'usuarios:change_password' %}">Cambiar Contraseña</a>
      <a class="btn btn-danger" href="{% url 'usuarios:home' %}">Cancelar</a>
  </form>
</div>
{% endblock %}